<div id="error-wrapper">
  <div class="error-view">
    <h1 class="error-heading">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      Internal server error (500)
    </h1>
    <p>Something wrong happened internally; our apologies.</p>
    <div class="options">
      <!-- Options -->
    </div>
  </div>
</div>
