<div id="error-wrapper">
  <div class="error-view">
    <h1 class="error-heading">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      View not found (404)
    </h1>
    <br>
    <p>Rostea could not find what you were looking for</p>
    <div class="options">
      <!-- Options -->
    </div>
  </div>
</div>

